openai
streamlit
python-docx 
python-dotenv==1.0.0
langchain
langchain-community
pinecone-client
langchain-pinecone
tiktoken
sentence-transformers

Flask==2.3.3
gunicorn==21.2.0
flask_jwt_extended==4.5.2
