Flask==2.3.3
gunicorn==21.2.0
flask_jwt_extended==4.5.2
flask-cors
python-dotenv==1.0.0
openai
streamlit
python-docx
langchain
langchain-community
pinecone-client
langchain-pinecone
tiktoken
sentence-transformers
pymongo==4.5.0
pymongo[srv]==4.5.0
requests==2.31.0
